{% load static %}
<nav>
    <div class="max-w-screen-xl flex flex-wrap sm:flex-col items-center mx-auto p-4">
      <a href="{% url 'index' %}" class="flex items-center">
        <span>
            <img class="w-10 h-10 mr-2" src="{% static 'images/money-with-wings.svg' %}" />
        </span>
        <span class="self-center text-2xl font-semibold whitespace-nowrap">XYZ Business Transaction FinTech</span>
      </a>
   
      <div class="w-full md:block md:w-auto items-center" id="">
        <ul class="font-medium flex flex-col items-center p-4 md:p-0 my-1 md:my-2 rounded-lg md:flex-row md:space-x-8">
        
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'transactions-list' %}" 
                    class="block py-2 pl-3 pr-4 text-white rounded md:p-0" 
                    aria-current="page">
                        My Transactions
                </a>
            </li>
            <li>
                <a href="{% url 'transactions-charts' %}" 
                    class="block py-2 pl-3 pr-4 text-white rounded md:p-0" 
                    aria-current="page">
                        My Charts
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}" 
                    class="block py-2 pl-3 pr-4 text-white rounded md:p-0" 
                    aria-current="page">
                        Logout
                </a>      
            </li>
        {% else %}
            <li>
                <a href="{% url 'login' %}" 
                    class="block py-2 pl-3 pr-4 text-white rounded md:p-0" 
                    aria-current="page">
                        Login
                </a>
            </li>
            <li>
                <a href="{% url 'register' %}" 
                    class="block py-2 pl-3 pr-4 text-white rounded md:p-0" 
                    aria-current="page">
                        Sign Up
                </a>
            </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  